<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROCES  VERBAL</title>
    <link rel="stylesheet" href="/static/pv_defiscalizare.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pizzip/3.0.0/pizzip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.25.0/docxtemplater.js"></script>
    <style>
        /* Ascunde butoanele la imprimare */
        @media print {
            #salveaza_pdf, #imprima, button[type='button'] {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <div id="document">
        <div class="a4" style="page-break-after: always">
            <h1>Proces Verbal</h1>
                <p class="subtitlu">Incheiat astazi <input type="date" style="width: 120px; font-size: 16px;"></p>

                <form id="formPV" method="POST">
                    <p class="paragraf">
                        Prezentul proces  verbal  s-a  intocmit  in  baza OG 28/1999, art.4, aliniatul 5, a HG nr.479  din 18 aprilie 2003,
                        republicat,  privind aprobarea  Normelor  metodologice de aplicarea  Ordonantei  de  urgenta  a  Guvernului  nr.28/1999  si  OUG 91/2014
                        din  31 decembrie  2014  pentru  modificarea  si  completarea  OUG 28/1999  privind  obligatia  operatorilor  economici de  a   utiliza
                        aparate   de   marcat   electronice   fiscale.
                    </p>

                    <p class="inputuri">
                        Prezentul   proces    verbal   s-a    intocmit  intre   S.C. SECRET DATA S.R.L. , reprezentat prin
                        <input type="text" name="nume" placeholder="Reprezentant SD" style="width: 180px; font-size: 16px"> posesor al C.I. seria:
                        <input type="text" name="serie" placeholder="SM" style="width: 40px; font-size: 16px"> Nr:
                        <input type="text" name="numar" placeholder="serie" style="width: 65px; font-size: 16px"> si
                        <input type="text" name="nume companie" placeholder="Nume Companie" style="width: 250px; font-size: 16px"> cu sediul social in:
                        <input type="text" name="adresa" placeholder="Adresa sediu" style="width: 400px; font-size: 16px">, avand codul fiscal:
                        <input type="text" name="cod fiscal" placeholder="Cod fiscal" style="width: 110px; font-size: 16px"> reprezentat prin
                        <input type="text" name="nume reprezentant" placeholder="Reprezentant beneficiar" style="width: 190px; font-size: 16px; ">, in calitate de imputernicit , posesor  al C.I. seria:
                        <input type="text" name="serie beneficiar" placeholder="SM" style="width: 40px; font-size: 16px"> Nr.
                        <input type="text" name="numar beneficiar" placeholder="serie" style="width: 65px; font-size: 16px">
                        ca urmare a predarii memoriei fiscale CONFORM ANEXA.
                    </p>

                    <p class="info_imprimanta">
                        Casa de marcat a fost distribuita de S.C. SECRET DATA S.R.L.
                        in  baza avizului de distributie nr :
                        <input type="text" name="aviz distributie" placeholder="Aviz Distributie" style="width: 170px; font-size: 16px"><br>
                        Starea tehnica a memoriei fiscale:
                        <input type="text" name="stare imprimanta" placeholder="Integra/Deteriorata" style="width: 170px; font-size: 16px"><br>
                        Motivul  predarii :
                        <input type="text" name="motiv predare" placeholder="Motiv predare" style="width: 200px; font-size: 16px"><br>
                        Marca :
                        <input type="text" name="marca" placeholder="Marca AMEF" style="width: 100px; font-size: 16px"><br>
                        Modelul  :
                        <input type="text" name="model" placeholder="Model AMEF" style="width: 200px; font-size: 16px"><br>
                            <p style="font-weight: bold; text-align: left; font-size: 20px"><u>Nota:</u></p>
                            <p style="text-align: justify; text-indent: 45px; line-height: 1.7; font-size: 16px;">
                                Conform OUG 91/2014 operatorii economici care utilizeaza aparate de marcat electronice fiscale la umplerea memoriei fiscale ,
                                atunci cand aceasta trebuie inlocuita ca urmare a defectarii, ori cand nu mai poate fi folosita de catre utilizatori din diverse motive,
                                precum si in cazul in care acestia isi inceteaza activitatea ,
                                sunt obligati sa asigure pastrarea si arhivarea memoriilor fiscale pentru o perioada de 10 ani.
                            </p>
                    </p>

                    <div class="semnaturi_pag1">
                        <div class="semnatura_beneficiar"><br>
                            Societate Comerciala<br>
                            Semnatura<br>................................
                        </div>
                        <div class="semnatura_service"><br>
                            Unitate Service Acreditata<br>
                            Semnatura<br>................................
                        </div>
                    </div>
                </form>
        </div>

        <div class="a4">
            <p class="subtitle2" style="font-weight: bold; text-align: left"><u>-- ANEXA --</u></p>
                <div>
                    <table contenteditable="true" class="tabel" border="1" style="margin-top: 50px; font-size: 14.5px; ">
                        <thead>
                            <tr>
                                <th>Nr crt.</th>
                                <th>Serie AMEF</th>
                                <th>NUI AMEF</th>
                                <th>Nr. Ultimului Raport Z</th>
                                <th>Total Vanzari (lei)</th>
                                <th>Total TVA(lei)</th>
                                <th colspan="2">
                                    Integritatea sigilii inainte de desigilare <br>
                                    <span class="mic", style="font-size: 11px; display: flex">Carcasa intacta-Memorie intacta</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody><tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"></td>
                                <td style="height: 20px; text-align: center"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <div class="semnaturi_pag2">
                <div class="semnatura_beneficiar2"><br>
                    Societate Comerciala<br>
                    Semnatura<br>................................
                </div>
                <div class="semnatura_service2"><br>
                    Unitate Service Acreditata<br>
                    Semnatura<br>................................
                </div>
            </div>
            <div class="container_butoane">
                <button type="button" id="salveaza_pdf">Salvează PDF</button>
                <button type="button" id="imprima">Imprimă</button>
            </div>
        </div>
    </div>

    <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Ascunde butoanele pentru PDF la imprimare
                var salveazaPdfButton = document.getElementById("salveaza_pdf");
                var imprimaButton = document.getElementById("imprima");

                function hideButtons() {
                    salveazaPdfButton.style.display = 'none';
                    imprimaButton.style.display = 'none';
                }

                function showButtons() {
                    salveazaPdfButton.style.display = 'inline-block';
                    imprimaButton.style.display = 'inline-block';
                }

                salveazaPdfButton.addEventListener("click", function () {
                    hideButtons();
                    const element = document.getElementById("document");
                    const opt = {
                    margin: [3, 3, 3, 5],
                    filename: 'pv_defiscalizare_rbc.pdf',
                    image: { type: 'jpeg', quality: 1 },
                    html2canvas: {
                        scale: 2,
                        useCORS: true
                    },
                    jsPDF: {
                        unit: 'mm',
                        format: 'a4',
                        orientation: 'portrait'
                    },
                    pagebreak: { mode: ['avoid-all', 'css', 'legacy'] }
                };

                    html2pdf().from(element).set(opt).save().then(function () {
                        showButtons();
                    });
                });

                imprimaButton.addEventListener("click", function () {
                    hideButtons();
                    window.print(); // Deschide fereastra de imprimare
                    setTimeout(function () {
                        showButtons();
                    }, 1000); // Reîntoarce butoanele după un scurt delay
                });
            });
    </script>
        </div>
        <script>
        window.addEventListener("beforeunload", function () {
            navigator.sendBeacon("/shutdown");
        });
        </script>

<script>
    window.addEventListener("beforeunload", function () {
        navigator.sendBeacon("/shutdown");
    });
</script>


</body>
</html>